<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ualberta.cs.reflex_app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="yuentung-reflex"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SingleUserActivity"
            android:label="Single User Mode"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.reflex_app.MainActivity" />
        </activity>
        <activity
            android:name=".GameShowActivity"
            android:label="Gameshow Buzzer"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.reflex_app.MainActivity" />
        </activity>
        <activity
            android:name=".ViewStatsActivity"
            android:label="View Statistics"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.reflex_app.MainActivity" />
        </activity>
        <activity
            android:name=".TimingActivity"
            android:label="Reflex Timer"
            android:parentActivityName=".SingleUserActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.reflex_app.SingleUserActivity" />
        </activity>
        <activity
            android:name=".TwoPlayersBuzzerActivity"
            android:label="2 Players"
            android:parentActivityName=".GameShowActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.reflex_app.GameShowActivity" />
        </activity>
        <activity
            android:name=".ThreePlayersBuzzerActivity"
            android:label="3 Players"
            android:parentActivityName=".GameShowActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.reflex_app.GameShowActivity" />
        </activity>
        <activity
            android:name=".FourPlayersBuzzerActivity"
            android:label="4 Players"
            android:parentActivityName=".GameShowActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ca.ualberta.cs.reflex_app.GameShowActivity" />
        </activity>
    </application>

</manifest>
